<div class="container">
  <div class="blogPost" data-post-id="{{id}}">
    <div class="title bg-light">
      {{title}}
    </div>
    <div class="content bg-light">
      {{content}}
    </div>
    <div class="postInfo">
      Posted by: {{user.user_name}} on {{format_date date_created}}
    </div>
  </div>
</div>