<div class="newPost">
    <button type="button" class="btn btn-primary mx-auto" id="new-post-button">New Post</button>
</div>

<div class="container display-none" id="post-form">
  <div class="new-post">
    <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px;">
    <h3>New Post</h3>
    <button class="no-button" id="cancel-post-button">Cancel</button>      
    </div>
    <form class="login-form">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" class="form-control" id="post-title">
      </div>
      <div class="form-group">
        <label for="post-content">Content</label>
        <textarea class="form-control" id="post-content" name="post-content" rows="6" cols="4" max-length="250"></textarea>
      </div>   
    </form>
  </div>
  <div class="confirm-post">
    <button type="button" class="btn btn-primary mx-auto px-5" id="confirm-post-button">Post</button>
  </div>
</div>

{{#each posts as |post| }}
<div class="container">
  <div class="blogPost">
    <div class="title">
      <div>{{post.title}}</div>
      <div>Posted on {{format_date post.date_created}}</div>
    </div>
    <div class="postButtons">
      <a href="/posts/{{post.id}}" class="no-decor">View Post</a>
      <button class="no-button edit-post" id="edit-post-{{post.id}}" data-id="{{post.id}}">Edit</button>
    </div>
    <div class="editPostForm">
      <div class="hold display-none" id="edit-post-form-{{post.id}}">
        <div class="postContainer">
          <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 15px;">
          <h3>Edit Post</h3>
          <button class="no-button new-edit-button" id="new-edit-{{post.id}}" data-id="{{post.id}}">Post</button>
          </div>
          <form class="login-form">
            <div class="form-group">
              <label for="edit-title-{{post.id}}">Title</label>
              <input type="text" class="form-control" id="edit-title-{{post.id}}" value="{{post.title}}">
            </div>
            <div class="form-group">
              <label for="edit-content-{{post.id}}">Content</label>
              <textarea class="form-control" id="edit-content-{{post.id}}" name="edit-content-{{post.id}}" rows="6" cols="4" max-length="250">{{post.content}}</textarea>
            </div>   
          </form>
        </div>
        <div style="width: 100%; display: flex; flex-direction:row-reverse;">
          <button class="no-button delete-post-button text-danger" id="delete-post-{{post.id}}" data-id="{{post.id}}">Delete Post</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}

<script src="/scripts/dashboard.js"></script>